<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
        <title>Scoring</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
    </head>

    <body>
        <form action="#" th:action="@{/scoring/calculate}" th:object="${request}" method="post">

            <div>
                <label for="personId">PersonId</label>
                <input type="text" th:field="*{personId}" id="personId" placeholder="PersonId">
                <div th:if="${#fields.hasErrors('personId')}" th:errors="*{personId}" class="error"></div>
            </div>

            <div>
                <label for="amount">Amount</label>
                <input type="text" th:field="*{amount}" id="amount" placeholder="Amount">
                <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error"></div>
            </div>

            <div>
                <label for="term">Term</label>
                <input type="text" th:field="*{term}" id="term" placeholder="Term">
                <div th:if="${#fields.hasErrors('term')}" th:errors="*{term}" class="error"></div>
            </div>

            <button type="submit">Calculate</button>
        </form>
    </body>
</html>