<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
        <title>Scoring</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
    </head>

    <body>
        <form action="#" th:action="@{/scoring/calculate}" th:object="${request}" method="post">

            <label for="amount">Amount</label>
            <input type="text" th:field="*{amount}" id="amount" placeholder="Amount">
            <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>

            <label for="term">Term</label>
            <input type="text" th:field="*{term}" id="term" placeholder="Term">
            <span th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></span>

            <input type="submit" value="Calculate">
        </form>
    </body>
</html>